<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900">
    <div class="flex justify-around">
        <div class="grid grid-cols-3 p-2 gap-4 text-center text-gray-100 ">
            <button onclick="load(this)" value="0" id="00" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
            <button onclick="load(this)" value="0" id="01" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
            <button onclick="load(this)" value="0" id="02" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
            <button onclick="load(this)" value="0" id="10" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
            <button onclick="load(this)" value="0" id="11" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
            <button onclick="load(this)" value="0" id="12" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
            <button onclick="load(this)" value="0" id="20" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
            <button onclick="load(this)" value="0" id="21" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
            <button onclick="load(this)" value="0" id="22" style="height: 110px;width: 110px;" class="rounded p-2 w-full bg-green-900"></button>
        </div>
    </div>
    <script>
        var game = {};

        function load(e){
            if (e != undefined){
                if (e.value==1 | e.value==-1){
                    alert("This Place is Already Taken");
                }else{
                    e.setAttribute('value','1');
                    var game={};
                    load_board();
                    game=game_board();
                    move(game);
                }
            }
        }

        function move(game){
            fetch('http://localhost:8000/api/game/',{
                method:"POST"
            ,
                headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
                body:JSON.stringify(game),
            })
            .then(response => response.json())
            .then(data => {
                var c_game=data['request'];
                for (var i=0;i<3;i++){
                    for(var j=0;j<3;j++){
                        document.getElementById(`${i}${j}`).setAttribute('value',c_game[i][j])
                    }
                }
                console.log(data['request'])
                load_board()
                if (data['win']!==null){
                    win(data['win'])
                }
            })
            .catch(err => console.log(err));
        }

        function win(win){
            if (win){
                alert("player won");
            }else{
                console.log(alert("Computer won"))
            }
        }

        function load_board(){
            for(var i=0;i<3;i++){
                let a=[];
                for(var j=0;j<3;j++){
                    var val = Number(document.getElementById(`${i}${j}`).getAttribute('value'));
                    if (val===1){
                        document.getElementById(`${i}${j}`).innerHTML=`<img height='90' width="90" src="https://img.icons8.com/dusk/64/000000/x.png"/>`
                    }else if(val===-1){
                        document.getElementById(`${i}${j}`).innerHTML=`<img height='90' width="90" src="https://img.icons8.com/dusk/64/000000/o.png"/>`
                    }else if(val===0){
                        document.getElementById(`${i}${j}`).innerHTML=``
                    }
                }
            }
        }
        
        function game_board(){
            var game=[];
            for(var i=0;i<3;i++){
                let a=[];
                for(var j=0;j<3;j++){
                    a.push(Number(document.getElementById(`${i}${j}`).getAttribute('value')));
                }
                game.push(a);
            }
            return game
        }
        window.onload = function() {
            load_board();
        };
    </script>
</body>
</html>